/* button {
  float: right;
  background-color: #44C47D;
} */

body {
  background-color: #121212 !important; 
}
.login {
  display: flex;
  justify-content: center;
  padding-top: 10vh;
}
.login-border {
  border: 1px solid rgb(221, 221, 221);
}
.text-middle{
	position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.c2Texto{
	position: absolute;
  top: 50%;
  left: 4%;
  transform: translate(-0%, -50%);
}
.c2{
	border: solid 1px rgb(0, 0, 0);
  height: 50px;
}
.c1{
	border: solid 1px rgb(0, 0, 0);
	background-color: rgb(153, 204, 255);
	font-weight: bold;
	text-align: center;
	height: 50px;
}

.image-product {
  width: 150px;
  border-radius: 45em;
  margin-left: auto;
  margin-right: auto;
  display: block;
}


.root {
  height: 87vh;
  position: relative;
  display: grid;
  grid-template-rows: 1fr auto;
  grid-template-columns: auto 1fr;
  grid-template-areas: 
                "navbar main-view main-view-center"
                "player player player";
}

.nav-bar {
  grid-area: navbar;
  background-color: #040404;
  width: 230px;
  flex: 1;
  min-height: 0;
}

.top-bar {
  grid-area: main-view;
  height: 60px;
  z-index: 2;
}

.main {
  grid-area: main-view-center;
  flex: 1;
  height: 100%;
  min-height: 0;
  padding: 70px 30px;
  overflow-y: scroll;
  background-color: #121212 !important;
  color: white;
}

.player {
  grid-area: player;
  background-color: #282828;
  height: 90px;
}

.nav-bar-header .logo {
  width: 131px;
  max-height: 40px;
  margin-left: 24px;
  margin-top: 24px;
  margin-bottom: 30px;
}

.nav-bar .navbar-nav {
  padding: 0 8px;
}

.nav-bar .navbar-nav .nav-item a {
  border-radius: 4px;
  padding: 0 16px;
  height: 40px;
  color: #FFF;
  opacity: .6;
  font-weight: 700;
}
.nav-bar .navbar-nav .nav-item a:hover {
  opacity: 1;
}


.nav-bar .navbar-nav .nav-item.active a {
  background-color: #282828;
  opacity: 1;
}

.nav-bar .navbar-nav .nav-item.active {
  width: 98%;
}

.nav-bar .navbar-nav .nav-item img {
  font-size: 22px;
  margin-right: 16px;
  margin-top: 10px;
}

.nav-bar .navbar-nav .nav-item span {
  margin-top: 10px;
}

.playlists {
  padding-top: 25px;
}

.playlists h6 {
  padding: 0 16px;
  color: #cecccc;
  font-size: 12px;
  font-weight: 700;
  line-height: 16px;
  letter-spacing: .1em;
  text-transform: uppercase;
}

.criar-playlist  img {
  background-color: white;
  border-radius: 0;
  padding: 5px 5px;
}

.musicas-curtidas img {
  background: linear-gradient(135deg,#450af5,#c4efd9);
  padding: 5px 5px;
  border-radius: 0;
}

.border-playlists {
  width: 88%;
  margin-top: 16px;
  margin-left: 15px;
  border-bottom: 1px solid #282828;
}



.titulo-main-pricipal div h2 {
  font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: -.04em;
    text-transform: none;
}

.titulo-main-pricipal div h2 a {
  color: white;
}

.card {
  background-color: #262626 !important;
  cursor: pointer;
}

.card .card-body {
  color: #fff;
}
